{# =================== Importa el archivo base html =================== #}
{% extends "base.html" %}


{# =============== Titulo ============== #}
{% block title %}
Cinemania - Dashboard
{% endblock %}


{# =================== Estilos propios de esta pagina =================== #}
{% block specific-css %}

{% endblock %}




{# ===================  Todo el contenido de la pagina aqui ===================#}
{% block content %}

<div class="container full-screen-w" style="display:none;" id="main-content">
  <div class="col-md-12 col-lg-12 text-center visible-xs-block visible-sm-block visible-md-block visible-lg-block">
      {% if trailer %}
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 text-center">
                <h3 class="text-left">We recommend: <a href="movies/movie/{{ trailer.0 }}">{{ trailer.1 }}</a></h3>
                <div class="embed-responsive embed-responsive-4by3 video-responsive">
                    <iframe class="embed-responsive-item" width="420" height="315"
                            src="{{ trailer.2 }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
      {% endif %}
      <!--<div class="row">-->
      <!--  <div class="col-md-12"><p>&nbsp;</p></div>-->
      <!--</div>-->
      <!--<div id="slider1" class="csslider infinity">-->
      <!--  <input type="radio" name="slider" checked="checked" id="slider_1"/>-->
      <!--  <input type="radio" name="slider" id="slider_2"/>-->
      <!--  <input type="radio" name="slider" id="slider_3"/>-->
      <!--  <input type="radio" name="slider" id="slider_4"/>-->
      <!--  <input type="radio" name="slider" id="slider_5"/>-->
      <!--<ul>-->
      <div class="row space-top">
          <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 space-top">
              <div class="row text-left">
                  <!--<div class="">-->
                  <h3>Popular Movies</h3>
                  <!--</div>-->
              </div>
              <div class="row">
                  <!--Raffing-->
                  {% for pel in pelicula %}
                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center cont_img">
                      <a href="movies/movie/{{ pel.0 }}"><img class="img_poster img-thumbnail img-responsive"
                                                              src="{{ pel.2 }}" }></a>
                      <p><a href="movies/movie/{{ pel.0 }}">{{ pel.1 }}</a></p>
                  </div>
                  {% endfor %}
              </div>
          </div>
  
          {% for cont in mov_gen %}
          <div class="row space-top">
              <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 space-top">
                  <div class="row text-left">
                      <h3>{{ cont.0 }}</h3>
                  </div>
                  <div class="row">
                      {% for pel in cont.1 %}
                      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center cont_img">
                          <a href="movies/movie/{{ pel.0 }}"><img class="img_poster img-thumbnail img-responsive"
                                                                  src="{{ pel.2 }}" }></a>
                          <p><a href="movies/movie/{{ pel.0 }}">{{ pel.1 }}</a></p>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

<!--  <div class="arrows">-->
<!--    <label for="slider_1"></label>-->
<!--    <label for="slider_2"></label>-->
<!--    <label for="slider_3"></label>-->
<!--    <label for="slider_4"></label>-->
<!--    <label for="slider_5"></label>-->
<!--    <label for="slider_1" class="goto-first"></label>-->
<!--    <label for="slider_5" class="goto-last"></label>-->
<!--  </div>-->
<!--  <div class="navigation"> -->
<!--    <div>-->
<!--      <label for="slider_1"></label>-->
<!--      <label for="slider_2"></label>-->
<!--      <label for="slider_3"></label>-->
<!--      <label for="slider_4"></label>-->
<!--      <label for="slider_5"></label>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

{% endblock %}
