{% extends "base.html" %}
{% load staticfiles %}
{% block specific-css %}
    {#  =============== insert here all the styeles css  ================= #}
    <style type="text/css">
        body {
          background-image: url("{% static 'img/background.jpg' %}");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          
          /*background-size: auto 100%;*/
          /*background-size: 100% cover;*/
          background-size: cover;
          /*-webkit-background-size: cover;*/
          /*-moz-background-size: cover;*/
          /*-o-background-size: cover;*/
        }
        
        .space-top{
            margin-top: 10px;
        }
    </style>
{% endblock %}

{# =============== Navbar css ============== #}
{% block css-navbar %}
{% endblock %}

{% block navbar %}
        
{% endblock %}

{% block content %}

    {# ================ insert here all the content of the page =============== #}
<div class="row space-top">
    <div class="col-md-2 col-md-offset-10 text-center">
        <a href="account/login">Login</a>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <a href="account/signup">Sign up</a>
    </div>
</div>
{% endblock %}

{% block specific-js %}
    {# ================ insert here all the scripts ================= #}
{% endblock %}
