{% extends "base_new.html" %}
{% load staticfiles %}

{% block specific-css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style type="text/css">
    #loader {
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -4em;
      margin-left: -4em;
      width: 8em;
      height: 8em;
      background-color: transparent;
      transform: rotate(-90deg);
    }
    
    #full-screen{
      min-height: 100%;
      min-width: 100%;
    }
    
    .circle {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -.5em;
      width: 1em;
      height: 1em;
      background-color: white;
      border-radius: 100%;
      transform-origin: .5em 4em;
    }
    
    .circle:nth-child(1) {
      animation: move 1s linear infinite;
    }
    
    .circle:nth-child(2) {
      animation: move 1s linear .1s infinite;
    }
    
    .circle:nth-child(3) {
      animation: move 1s linear .2s infinite;
    }
    
    .circle:nth-child(4) {
      animation: move 1s linear .3s infinite;
    }
    
    .circle:nth-child(5) {
      animation: move 1s linear .4s infinite;
    }
    
    
    @keyframes move {
      0% {
        box-shadow: 0 0 .025em .025em white;
      }
      100% {
        transform: rotateY(360deg) rotateZ(360deg);
        box-shadow: 0 0 .025em .025em white;
      }
    }
  </style>
{% endblock %}

{% block content %}
<!-- first section - Home -->
<div id="home" class="home">
  <div class="text-vcenter">
    <h1>Cinemania</h1>
    <h3>Donde los verdaderos peces organizan sus peliculas</h3>
    <a href="#about" class="btn btn-default btn-lg">Continue</a>
  </div>
</div>
<!-- /first section -->


<!-- second section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'img/logo.png' %}" alt="" />
      </div>
      <div class="col-sm-6 text-center">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet.</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum metus et ligula venenatis, at rhoncus nisi molestie. Pellentesque porttitor elit suscipit massa laoreet metus.</p>
      </div>
    </div>
  </div>
</div>
<!-- /second section -->


<!-- third section - Services -->
<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">Our Services</h2> <hr />
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-cloud"> </i>
        <h4>Service 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-leaf"> </i>
        <h4>Service 2</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-phone-alt"> </i>
        <h4>Service 3</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-bullhorn"> </i>
        <h4>Service 4</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
      </div>
    </div>
  </div>
</div>
<!-- /third section -->

<!-- fourth section - Information -->
<div id="information" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet. 
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet. 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


  <!-- attach JavaScripts -->
{% block specific-js %}
  <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
  <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
{% endblock %}
