{# =================== Importa el archivo base html =================== #}
{% extends "base.html" %}

{% load staticfiles %}
{# =============== Titulo ============== #}
{% block title %}
  Cinemania - {{ list_name }}
{% endblock %}


{# =================== Estilos propios de esta pagina =================== #}
{% block specific-css %}
    
{% endblock %}



{# ===================  Todo el contenido de la pagina aqui ===================#}
{% block content %}
<div class="container full-screen-w" style="display:none;" id="main-content">
  <div class="row well well-sm">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1>{{ list_name }}</h1>
    </div>
  </div>
  
  <div class="row">
    <div id="movies" class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <!-- Start here -->
      <!-- loop para mostrar peliculas de la lista -->
      {% for pelicula in peliculas %}
        <div data-src="{{ pelicula.0 }}" class="row">
          <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <li class="list"><a href="../movie/{{ pelicula.0 }}">{{ pelicula.1 }}</a></li>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
            <a id="item-list" data-src="{{ pelicula.0 }}"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{% block specific-js %}
    {# ================ insert here all the scripts ================= #}
    <script src="{% static 'js/list.js' %}"></script>
{% endblock %}