{% extends "base.html" %}
{% load staticfiles %}
{% block specific-css %}
    {#  =============== insert here all the styeles css  ================= #}
    <link rel="stylesheet" href="{{STATIC_URL}}css/rating.css">
{% endblock %}

{% block content %}

  {# ================ insert here all the content of the page =============== #}
  <div class="row well well-sm">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1>{{ movietitle }}</h1>
    </div>
  </div>
  <div class="row">
    <!-- Image and rating -->
    <div class="col-md-3 col-md-offset-1 text-center">
      <img src="{{ img }}"></img>
      <hr>
      <!--Calificacion-->
      <!--<div class="center-col col-md-12 text-center">-->
        <div class="rate center-col">
        	<div class="emoji">😑</div>
        	<input name="" type="range" min="0" max="4" step="1">
        </div>
      <!--</div>-->
      
    </div>
    <!-- Sinapsis -->
    <div class="col-md-6">
      <p class="lead">{{ synapsis }}</p>
    </div>
  
  </div>
  <!-- actores -->
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <p>{{ actors }}</p>
    </div>
  </div>
    
{% endblock %}

{% block specific-js %}
    {# ================ insert here all the scripts ================= #}
    <script src="{% static 'js/rating.js' %}"></script>
{% endblock %}
