<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!--=================== Estilos de Terceros ===================-->
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css" >


    <!--=================== Estilos propios de todas las paginas ===================-->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"> <!--Icono principal de la pagina -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    {% block css-navbar %}
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% endblock %}
    
    <!--=================== Estilos especificos de cada pagina ===================-->
    {% block specific-css %}
    {% endblock %}
    
    
    
    <!--=================== Titulo ===================-->
    <title>{% block title %}Cinemania{% endblock %}</title>
    
</head>
<body>
    <div id="full-screen">
        <div id="loader">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
    </div>
    
    {# =================== Carga la barra de navegacion =================== #}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    <div class="container full-screen-w" style="display:none;" id="main-content">
        
        {# =================== Todo el contenido de la pagina se carga aqui =================== #}
        {% block content %}
        {% endblock %}
    </div>
    
    {# =================== Carga el footer de la pagina =================== #}
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}


<!--=================== Scripts de terceros ===================-->
<!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->


<!--=================== Scripts generales de todas las paginas ===================-->
<!-- <script src=""></script> -->

<!--=================== Scripts especconvinacionesificos de cada pagina ===================-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{% static 'js/carga.js' %}"></script> <!-- Dispositivo de carga -->
{% block specific-js %}
{% endblock %}

</body>
</html>