{% extends "base.html" %}
{% load staticfiles %}
{% block specific-css %}
    {#  =============== insert here all the styeles css  ================= #}
    
{% endblock %}

{% block content %}

    {# ================ insert here all the content of the page =============== #}
    <div class="row well well-sm">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h1>Captain America: Civil War (2016)</h1>
        </div>
    </div>
    <div class="row">
        <!-- Image and rating -->
        <div class="col-md-3 col-md-offset-1 text-center">
            <img src="https://resizing.flixster.com/iC03QWgsqAzaFDCHnsc1jRJvCls=/180x266/v1.bTsxMTY5MDA3MDtwOzE2OTgwOzIwNDg7NDg4OzcyMA"></img>
            <hr>
            <p>* * * * *</p>
        </div>
        <!-- Sinapsis -->
        <div class="col-md-6">
            <p class="lead">Marvel's "Captain America: Civil War" finds Steve Rogers leading the newly formed team of Avengers in their continued efforts to safeguard humanity. But after another incident involving the Avengers results in collateral damage, political pressure mounts to install a system of accountability, headed by a governing body to oversee and direct the team. The new status quo fractures the Avengers, resulting in two camps-one led by Steve Rogers and his desire for the Avengers to remain free to defend humanity without government interference, and the other following Tony Stark's surprising decision to support government oversight and accountability.</p>
        </div>
    
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <p>Chris Evanss Steve Rogers/Captain, Robert Downey Jr.as Tony Stark/Iron Man, Scarlett Johansson as Natasha Romanoff/Bla, Sebastian Stan as Bucky Barnes/Winter, Anthony Mackie as Sam Wilson/Falcon, Don Cheadle as James Rhodes/War Mac</p>
        </div>
    </div>
    
{% endblock %}

{% block specific-js %}
    {# ================ insert here all the scripts ================= #}
{% endblock %}
