{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  Cinemania - Login
{% endblock %}

{% block specific-css %}
  
  <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css" >
  <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  <!--<link rel="stylesheet" href="{{STATIC_URL}}css/signin.css">-->
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="float-right">
      <a href="./signup">Sign Up</a>
    </div>
  </div>
  <form class="form-group" action="./register" method="GET">
    <!-- <h2 class="form-signin-heading">Iniciar sesion</h2> -->
    <label for="inputEmail" class=""></label>
    <input type="Email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
    <label for="inputPassword" class=""></label>
    <input type='password' id='inputPassword' class='form-control' placeholder='Password' required=''>
    <label for="submitButton" class=""></label>
    <!-- <div class="checkbox">
    <label>
    <input type="checkbox" value="remember-me"> Remember me
    </label>
    </div> -->
    <button class="btn btn-primary btn-block" type="submit">Login</button>
  </form>
  
  <footer class="navbar-fixed-bottom">
    <div class="container text-center">
      <h2>Cinemania</h2>
      <hr />
      <p>Andres Martinez - Camilo Ruiz - Julian Silva - Miguel Lopez</p>
    </div>
  </footer>
  
</div> <!-- /container -->


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!-- <script src="./Signin Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script> -->

{% endblock %}
